
Sqlite.ORM/bin
Sqlite.ORM/obj

Sqlite.ORM.Tests/bin
Sqlite.ORM.Tests/obj

.vs
.idea
GetPropertyInfoViaLinq/bin/

GetPropertyInfoViaLinq/obj/

GetPropertyInfoViaLinq\.Tests/bin/

GetPropertyInfoViaLinq\.Tests/obj/

GetPropertyInfoViaLinq\.Tests/ForReadme\.cs
